sudo: required
cache: bundler

language: ruby

rvm:
  - 2.2.7
  - 2.3.4
  - 2.4.1

gemfile:
  - gemfiles/rails_4.0.gemfile
  - gemfiles/rails_4.1.gemfile
  - gemfiles/rails_4.2.gemfile
  - gemfiles/rails_5.0.gemfile
  - gemfiles/rails_5.1.gemfile
  - gemfiles/rails_5.2.gemfile
  - gemfiles/active_record_5.1.gemfile
  - gemfiles/active_record_5.2.gemfile

matrix:
  fast_finish: true
  allow_failures:
    - gemfile: gemfiles/rails_5.2.gemfile
  exclude:
    - rvm: 2.4.1
      gemfile: gemfiles/rails_4.0.gemfile
    - rvm: 2.4.1
      gemfile: gemfiles/rails_4.1.gemfile

services:
  - docker

before_install:
  - docker-compose up -d

script:
  - bundle exec rake spec
