name: Active Record Multi-Tenant Tests

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        ruby:
          - '3.0'
          - '3.1'
          - '3.2'
        appraisal:
          - rails-6.0
          - rails-6.1
          - rails-7.0
          - active-record-6.0
          - active-record-6.1
          - active-record-7.0
        citus_version:
          - '10'
          - '11'
        
    name: Ruby ${{ matrix.ruby }}/${{ matrix.gemfile }} / Citus ${{ matrix.citus_version }}
    env:
       APPRAISAL: ${{ matrix.appraisal }}
       CITUS_VERSION: ${{ matrix.citus_version }}
    steps:
      - uses: actions/checkout@v3

      - name: Start Citus Database environment
        run: docker-compose up -d

      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true

      - name: Bundle install
        run: bundle install

      - name: Rubocop static code analysis
        run: rubocop

      - name: Execute tests
        run: bundle exec rake spec

      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v3
